form {
  color: grey;
}

.card p {
  color: grey;
}

.card {
  margin: 20px;
}

nav img {
  max-height: 70px;
}

#parent {
  margin-top: 100px;
}

.card li {
  list-style-type: none;
  margin: 10px;
}


.tag {
  display: inline;
  padding: 5px;
  border-radius: 17px;
  color: grey;
}

/* 
#ff9aa2
#ffb7b2
#ffdac1
#e2f0cb
#b5ead7
#c7ceea
*/
.category:nth-child(1) .tag {
  background-color: #ff9aa2;
}

.category:nth-child(2) .tag {
  background-color: #ffdac1;
}

.category:nth-child(3) .tag {
  background-color: #b5ead7;
}

.modal .tag {
  margin-left: 10px;
  margin-right: 10px; 
}