.card p {
  color: grey;
}

.card {
  margin: 20px;
}

nav img {
  max-height: 70px;
}

#parent {
  margin-top: 100px;
}

.card li {
  list-style-type: none;
  margin: 10px;
}


.card li div{
  display: inline;
  padding: 5px;
  border-radius: 17px;
  color: grey;
}

/* 
#ff9aa2
#ffb7b2
#ffdac1
#e2f0cb
#b5ead7
#c7ceea
*/
.card li.first div{
  background-color: #ff9aa2;
}

.card li.second div{
  background-color: #ffdac1;
}

.card li.third div{
  background-color: #b5ead7;
}